*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
.css-property-one{
  width: 500px;
  background-color: aquamarine;
  margin: 15px 0 0 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid gray;
}
.css-property-two{
  width: 700px;
  min-height: 400px;
  background-image: url(../images/tree.jpg);
  margin: 30px auto;
  padding: 20px;
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  border-radius: 90px 5px;
}
.css-property-two p{
  margin: 100px 50px 0 50px;
  line-height: 25px;
}
.css-property-two span{
  margin: 20px 0 0 0;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
}
.css-property-three{
  background-size: 500px;
  background-image: url(../images/alone.jpg);
  background-repeat: repeat-x;
}

.css-property-three img{
  width: 500px;
  height: 300px;
  margin: 20px 0px 20px 500px;
}
.css-property-four{
  min-height: 200px;
  border: 1px solid blue;
  background-image: url(../images/wow.jpg);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.css-property-five{
  margin-top: 30px;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.css-property-six{
  margin-top: 30px;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
/* ******website demo page******** */
.container{
  margin-top: 50px;
}
#header{
  background-color: rgba(21, 145, 170, 0.7);
}
.logo{
  width: 25%;
  background-color: greenyellow;
  float: left;
}
.menu{
  width: 50%;
  background-color: lightgreen;
  float: left;
}
.clear_fix{
  clear: both;
}
#banner{
  background-color: chartreuse;
}
#main_content{
  background-color: darkmagenta;
}
#footer{
  background-color: deeppink;
}